* {
    margin: 0px;
    padding: 0px;
}


/*Header*/

header {
    background-color: aquamarine;
    color: white;
    width: 100%;
}

header h1 {
    padding: 8px;
    font-size: 24px;
    float: left;
}

header ul {
    float: right;
}

header li {
    line-height: 20px;
    list-style-type: none;
    float: left;
    padding: 8px;
    font-size: 12px;
}

.menu {
    display: none;
    color: white;
    text-decoration: none;
    float: right;
    padding: 8px;
    font-size: 24px;
}

.clear {
    clear: left;
}

@media(max-width:670px) {
    header ul {
        display: none;
    }
    .menu {
        display: block;
    }
}