    * {
        margin: 0px;
        padding: 0px;
    }
    /*Header*/
    
    header {
        background-color: white;
        color: gray;
        width: 100%;
    }
    
    header h1 {
        padding: 8px;
        font-size: 24px;
        float: left;
    }
    
    header ul {
        list-style-type: none;
        float: right;
        line-height: 40px;
        display: flex;
    }
    
    header li a {
        text-decoration: none;
        color: gray;
        padding: 8px;
        font-size: 20px;
        transition: all 0.5s;
        flex: auto;
        background-color: white;
    }
    
    .now-page a {
        color: red;
        text-decoration: underline;
    }
    
    header li :hover {
        background-color: brown;
        color: white;
        text-decoration: underline;
    }
    
    .menu {
        display: none;
        float: right;
    }
    
    .fa-bars {
        color: gray;
        text-decoration: none;
        padding: 8px;
        font-size: 24px;
    }
    
    .clear {
        clear: left;
    }
    
    @media(max-width:670px) {
        header ul {
            display: none;
        }
        .menu {
            display: block;
        }
    }