    * {
        margin: 0px;
        padding: 0px;
    }
    /* footer */
    
    footer {
        position: absolute;
        bottom: 0px;
        background-color: darkcyan;
        width: 100%;
        color: white;
        padding: 10px 0;
    }
    
    footer h4 {
        padding: 0 8px;
    }