    * {
        margin: 0px;
        padding: 0px;
    }
    /*Header*/
    
    header {
        background-color: darkcyan;
        color: gray;
        width: 100%;
        border-bottom: 1px solid gray;
    }
    
    header h1 {
        padding: 8px 16px;
        font-size: 24px;
        float: left;
        color: whitesmoke;
    }
    
    header ul {
        list-style-type: none;
        float: right;
        display: flex;
        height: 40px;
    }
    
    header li a {
        text-decoration: none;
        color: white;
        padding: 6px 8px;
        font-size: 20px;
        line-height: 40px;
        height: 100%;
        transition: all 0.5s;
        flex: auto;
        background-color: darkcyan;
        display: block;
    }
    
    .now-page a {
        color: darkorange;
        text-decoration: underline;
    }
    
    header li :hover {
        background-color: white;
        color: darkcyan;
        text-decoration: underline;
    }
    
    .clear {
        clear: left;
    }
    
    #menu-icon {
        float: right;
        color: white;
        font-size: 24px;
        padding: 16px 8px;
        display: none;
    }
    
    .header-menus {
        padding: 8px 0;
        clear: left;
        background-color: gray;
        display: none;
        width: 100%;
    }
    
    .header-menus li {
        text-align: center;
    }
    
    .header-menus a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    
    @media screen and (max-width:670px) {
        #menu-icon {
            color: white;
            font-size: 24px;
            display: block;
        }
        header ul {
            display: none;
        }
    }